services:
  myastroboard:
    environment:
      FLASK_DEBUG: 0
      SCHEDULE_INTERVAL: 300
    command: ["python", "backend/app.py"]

# docker compose -f docker-compose-dev.yml -f docker-compose.debug.yml up --build