/* CSS for UpTonight part */

/* Limit plot-container to 50% of the width on larger screens 
    and make it full width on smaller screens */
.plot-container {
    max-width: 50%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .plot-container {
        max-width: 100%;
    }
}

.in-astrodex-badge {
    display: inline-block;
    color: var(--bs-success);
    padding: 2px 8px;
    border-radius: var(--border-radius);
    font-size: 0.75rem;
    margin-left: 0.5rem;
    border: 1px solid var(--bs-success);
}